.vscode/launch.json
Option 1/3D-bin-packing-master/test_suite.py
Option 1/3D-bin-packing-master/py3dbp/__pycache__/__init__.cpython-310.pyc
Option 1/3D-bin-packing-master/py3dbp/__pycache__/auxiliary_methods.cpython-310.pyc
Option 1/3D-bin-packing-master/py3dbp/__pycache__/constants.cpython-310.pyc
Option 1/3D-bin-packing-master/py3dbp/__pycache__/main.cpython-310.pyc
