.vscode/launch.json
Option 1/3D-bin-packing-master/test_suite.py
Option 1/3D-bin-packing-master/py3dbp/__pycache__/__init__.cpython-310.pyc
Option 1/3D-bin-packing-master/py3dbp/__pycache__/auxiliary_methods.cpython-310.pyc
Option 1/3D-bin-packing-master/py3dbp/__pycache__/constants.cpython-310.pyc
Option 1/3D-bin-packing-master/py3dbp/__pycache__/main.cpython-310.pyc
Option 2 - CTC/test_folder/__pycache__/__init__.cpython-310.pyc
Option 2 - CTC/test_folder/__pycache__/auxiliary_methods.cpython-310.pyc
Option 2 - CTC/test_folder/__pycache__/bin.cpython-310.pyc
Option 2 - CTC/test_folder/__pycache__/constants.cpython-310.pyc
Option 2 - CTC/test_folder/__pycache__/item.cpython-310.pyc
Option 2 - CTC/test_folder/__pycache__/packer.cpython-310.pyc
program/manage_csv/__pycache__/__init__.cpython-310.pyc
program/manage_csv/__pycache__/constants.cpython-310.pyc
program/manage_csv/__pycache__/input_parameters.cpython-310.pyc
program/manage_csv/__pycache__/manage_filecount.cpython-310.pyc
program/manage_csv/__pycache__/prompts.cpython-310.pyc
program/manage_csv/__pycache__/read_input_csv.cpython-310.pyc
program/manage_csv/__pycache__/write_input_bin.cpython-310.pyc
program/manage_csv/__pycache__/write_input_box.cpython-310.pyc
program/Option1_package/__pycache__/__init__.cpython-310.pyc
program/Option1_package/__pycache__/auxiliary_methods.cpython-310.pyc
program/Option1_package/__pycache__/constants.cpython-310.pyc
program/Option1_package/__pycache__/main.cpython-310.pyc
program/Option2_package/__pycache__/__init__.cpython-310.pyc
program/Option2_package/__pycache__/auxiliary_methods.cpython-310.pyc
program/Option2_package/__pycache__/bin.cpython-310.pyc
program/Option2_package/__pycache__/constants.cpython-310.pyc
program/Option2_package/__pycache__/item.cpython-310.pyc
program/Option2_package/__pycache__/packer.cpython-310.pyc
program/__pycache__/write_output_option1.cpython-310.pyc
program/manage_csv/__pycache__/manage_lastfile.cpython-310.pyc
program/manage_csv/__pycache__/write_output.cpython-310.pyc
program/__pycache__/write_output_option2.cpython-310.pyc
files_Option1/csv_inputs/fileBinCount.txt
files_Option1/csv_inputs/fileBoxCount.txt
files_Option1/csv_inputs/csv_bins/inputBins1.csv
files_Option1/csv_inputs/csv_boxes/inputBoxes1.csv
files_Option1/csv_outputs/fileOutCount.txt
files_Option1/csv_outputs/lastBinFile.txt
files_Option1/csv_outputs/lastBoxFile.txt
files_Option1/csv_outputs/outputBins1.csv
files_Option1/csv_outputs/outputFitted1.csv
files_Option1/csv_outputs/outputSummary1.csv
files_Option1/csv_outputs/outputUnfitted1.csv
files_Option2/csv_inputs/fileBinCount.txt
files_Option2/csv_inputs/fileBoxCount.txt
files_Option2/csv_inputs/csv_bins/inputBins1.csv
files_Option2/csv_inputs/csv_boxes/inputBoxes1.csv
files_Option2/csv_outputs/fileOutCount.txt
files_Option2/csv_outputs/lastBinFile.txt
files_Option2/csv_outputs/lastBoxFile.txt
files_Option2/csv_outputs/outputBins1.csv
files_Option2/csv_outputs/outputFitted1.csv
files_Option2/csv_outputs/outputSummary1.csv
files_Option2/csv_outputs/outputUnfitted1.csv
program/__pycache__/write_output_option1.cpython-311.pyc
program/__pycache__/write_output_option2.cpython-311.pyc
program/manage_csv/__pycache__/__init__.cpython-311.pyc
program/manage_csv/__pycache__/constants.cpython-311.pyc
program/manage_csv/__pycache__/input_parameters.cpython-311.pyc
program/manage_csv/__pycache__/manage_filecount.cpython-311.pyc
program/manage_csv/__pycache__/manage_lastfile.cpython-311.pyc
program/manage_csv/__pycache__/prompts.cpython-311.pyc
program/manage_csv/__pycache__/read_input_csv.cpython-311.pyc
program/manage_csv/__pycache__/write_input_bin.cpython-311.pyc
program/manage_csv/__pycache__/write_input_box.cpython-311.pyc
program/manage_csv/__pycache__/write_output.cpython-311.pyc
program/Option1_package/__pycache__/__init__.cpython-311.pyc
program/Option1_package/__pycache__/auxiliary_methods.cpython-311.pyc
program/Option1_package/__pycache__/constants.cpython-311.pyc
program/Option1_package/__pycache__/main.cpython-311.pyc
program/Option2_package/__pycache__/__init__.cpython-311.pyc
program/Option2_package/__pycache__/auxiliary_methods.cpython-311.pyc
program/Option2_package/__pycache__/bin.cpython-311.pyc
program/Option2_package/__pycache__/constants.cpython-311.pyc
program/Option2_package/__pycache__/item.cpython-311.pyc
program/Option2_package/__pycache__/packer.cpython-311.pyc
program/Option2_package/__pycache__/painter.cpython-311.pyc
